.menu_maintable {
    width: 100%;
}

.title_artist_cell {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #FFFFFF;
}

.refreshonoff_table {
    border: 1px solid #000000;
    padding: 6px;
    margin: 3px;
}

.currentsong_table {
    width: 100%;
    border: 1px solid #000000;
    padding: 6px;
    margin: 3px;
}

.refreshonoff_table td, .currentsong_table td {
    padding: 4px;
}

.button_cell {
    padding: 5px;
}

.text_cell {
    padding-left: 4px;
}
